<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/views/styles/styles.css">
</head>
<body>
    <h1> Welcome, this is a home page! </h1>
    <a href="/users">
        <button>Go to the USERS page</button>
    </a>
    <br>
    <a href="/admin"> 
        <button>Go to the ADMINS page</button>
    </a>

    <h1>Page visited : <%= counter %> times</h1>
   
    <% include('partials/footer') %>
    
</body>
</html>